<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Login to ResumaticAI to access your personalized AI-powered resume enhancement tools. Secure Google authentication for your resume optimization journey.">
  <title>Redirecting...</title>
  <script>
    // Automatically redirect the user to the Google login page
    window.location.href = "{{ url_for('google_login') }}";
  </script>
</head>

<body>
  <p>Redirecting to login...</p>
</body>

</html>